*{
  background-color: rgb(248, 240, 240);
  text-align: center;
  }
  
 .shoppinglist{
  margin-top: 50px;
  background-color: white;
  border: 2px dashed black;
}

.material-symbols-outlined {
  cursor: pointer;
  
}
.list{
  justify-content: center;
  text-align: center;
}

