*{
  background-color: rgb(248, 240, 240);
  text-align: center; 
  font-family: 'Times New Roman', Times, serif;
  }
  
 .shoppinglist{
  margin-top: 50px;
  background-color: white;
  border: 2px dashed black;
}

.material-symbols-outlined {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  width: 200px;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  border: none;
  }
li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
ul {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
}








